<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Circle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page9">
  <div id="circle-markdown8" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Cerchia per gli amici del <strong> calcetto: </strong>
    </p>
  </div>
  <ion-list id="circle-list6">
    <ion-item color="none" id="circle-list-item7">
      <ion-avatar item-left> <img /> </ion-avatar>
      <h2>Item</h2>
    </ion-item>
  </ion-list>
</ion-content>
