<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Eventi</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding id="page2">
    <ion-list id="eventi-list3">
        <ion-item color="none" on-click="goToEvent()" id="eventi-list-item4">
            <ion-icon name="pizza" slot="start"></ion-icon>
            <ion-label>Pizzata</ion-label>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>