<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >{{ 'dashboard.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 id="home-heading2" style="color:#000000;text-align:center;">
    <i>ORGANIZE IT!</i>
  </h1>
  <ion-button id="home-button5" color="secondary" expand="full" fill="clear" on-click="goToAddEvent()">
    {{ 'dashboard.createEvent' | translate }}
    <ion-icon name="add-group" slot="end"></ion-icon>
  </ion-button>
  <ion-button id="home-button6" color="secondary" expand="full" fill="clear" on-click="goToAddGroup()" class="addGroupBtn">
    {{ 'dashboard.createGroup' | translate }}
    <ion-icon name="add-group" slot="end"></ion-icon>
  </ion-button>

  <ion-card class="welcome-card">
    <ion-card-content>
      <ion-item>
        <ion-label>{{ 'profile.language' | translate }}</ion-label>
        <ion-select [(ngModel)]='language' (ionChange)='languageChange()' placeholder='{{ "profile.languageChangePlaceholder" | translate }}'>
          <ion-select-option value='en'>{{ 'profile.languages.english' | translate }}</ion-select-option>
          <ion-select-option value='ita'>{{ 'profile.languages.italian' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
