<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="page8">
  <h1 id="evento-heading4" style="color:#000000;">Pizzata!</h1>
  <div id="evento-markdown4" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Chi non mangia la pizza è americano</p>
  </div>
  <div id="evento-markdown5" class="show-list-numbers-and-dots">
    <p style="color:#000000;"><strong> Dove: </strong> OroBirra</p>
  </div>
  <div id="evento-markdown6" class="show-list-numbers-and-dots">
    <p style="color:#000000;"><strong> Ore: </strong> 21:30</p>
  </div>
  <div id="evento-markdown7" class="show-list-numbers-and-dots">
    <p style="color:#000000;"><strong> Parteciperanno: </strong></p>
  </div>
  <ion-list id="evento-list5">
    <ion-item color="none" id="evento-list-item6">
      <ion-avatar item-left> <img /> </ion-avatar>
      <h2>Item</h2>
    </ion-item>
  </ion-list>
</ion-content>
