:root {
  --ion-background-color: #FF7400;

  --ion-color-primary: #F2C078;
  --ion-color-primary-rgb: 242,192,120;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #d5a96a;
  --ion-color-primary-tint: #f3c686;

  --ion-color-secondary: #FAEDCA;
  --ion-color-secondary-rgb: 250,237,202;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #dcd1b2;
  --ion-color-secondary-tint: #fbefcf;

  --ion-color-tertiary: #C1DBB3;
  --ion-color-tertiary-rgb: 193,219,179;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #aac19e;
  --ion-color-tertiary-tint: #c7dfbb;

  --ion-color-success: #0a8139;
  --ion-color-success-rgb: 10,129,57;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #097232;
  --ion-color-success-tint: #238e4d;

  --ion-color-warning: #f4c400;
  --ion-color-warning-rgb: 244,196,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d7ac00;
  --ion-color-warning-tint: #f5ca1a;

  --ion-color-danger: #ed1212;
  --ion-color-danger-rgb: 237,18,18;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d11010;
  --ion-color-danger-tint: #ef2a2a;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}